[Desktop Entry]
Hidden=false
Exec=qAndora
Type=Application
Categories=Audio;
NoDisplay=false
StartupNotify=true
Comment=A Qt front end for Pandora.com Internet Radio
Terminal=false
Name=qAndora
