[Desktop Entry]
Hidden=false
Exec=qAndora
Type=Application
Categories=Audio;AudioVideo;Player;Qt;
NoDisplay=false
StartupNotify=true
Comment=A Qt front end for Pandora.com Internet Radio
Terminal=false
Icon=qAndora.png
Name=qAndora
