Package: qandora
Version: 0.6
Section: main
Priority: optional
Architecture: all
Depends: python-pyside, python-gst0.10
Maintainer: Jeff Hoogland
Description: qAndora - Pandora.com Player
 A Qt front end for Pandora.com Internet Radio.
